@use "font.scss";
@use "common.scss";

@use "@/components/layout/Navbar/Navbar" as *;
@use "@/components/section/Header/Header" as *;
@use "@/components/section/About/About" as *;
@use "@/components/section/Subject/Subject" as *;
@use "@/components/section/Result/Result" as *;
